*{
    padding: 0;
    margin: 0;
    font-family: 'Sarala', sans-serif;
    box-sizing: border-box;
}

.inicio{
    height: 100vh;
    width: 100%;
    background-color:blueviolet;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 7%;
    padding-right: 8%;
    background-color: white;

}
.logo{
    color: black;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f9004d;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 1.5rem;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul a:hover{
    color: #fb5870;
    transition: .4s;
}


.inicio-e-descricao{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
}
.inicio-e-descricao img{
    border-radius: 50%;
    max-width: 30%;
    max-height: auto;
}
.descricao-inicio h1{
    color: white;
    margin: 12px 0px 12px;
    font-size: 60px;
}

.descricao-inicio h2{
    color: black;
    letter-spacing: 0.5px;
    font-size: 35px;
}

.sobre{
    width: 100%;
    padding: 100px 0px;
    background-color: white;
    display: flex;
}
.sobre img{
    height: auto;
    width: 30%;
    border-radius: 20%;
}
.sobre-text{
    width: 50%;
}
.sobre-geral{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sobre-text h2{
    color: black;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.sobre-text h3{
    color: #191919;
    letter-spacing: 2px;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.sobre-text p{
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.experiencia{
    background: blueviolet;
    width: 100%;
    padding: 100px 0px;
    
}
.titulo h3{
    color: black;
    font-size: 45px;
    display: flex;
    width: 80%;
    margin: 30px auto;
    text-align: center;
    flex-direction: column;
}
.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 330px;

}
.card{
    height: 365px;
    width: 30%;
    padding: 20px 35px;
    background: #d40547;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #fff;
}
h4{
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.texto-caixa p{
    color: white;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 25px;
}


footer{
    width: 100%;
    height: 130px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 28px;
    color: black;
    margin-bottom: 14px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: black;
    font-size: 18px;
    width: 50%;
    text-align: center;
    line-height: 20px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
footer .end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}